body{
    text-align: center;
    font-family: Arial;
    color: rgb(90, 90, 90);
}

#container{
    width: 70%;
    padding: 1em;
    text-align: justify;
    border: 3px solid green;
    margin: 0 auto;
}

#container h1{
    font-size: 15px;
    color: red;
}

#container #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#cabecera{
    background-color: purple;
    color: rgb(185, 121, 2);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;    
    margin: 0;
    padding: 0.8em;
}